<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Operations / Contest</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'polls/img/favicon.png' %}" rel="icon">
  <link href="{% static 'polls/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'polls/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'polls/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'polls/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'polls/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'polls/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'polls/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'polls/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'polls/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'admin_dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static 'polls/img/logo_2.png' %}" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'polls/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">ADMIN</span>
          </a><!-- End Profile Iamge Icon -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'admin_dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#operations-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Operations</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="operations-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'admin_contest' %}" class="active">
              <i class="bi bi-circle"></i><span>View Contest</span>
            </a>
          </li>
          <li>
            <a href="{% url 'admin_view_statistic' %}">
              <i class="bi bi-circle"></i><span>See statistic</span>
            </a>
          </li>
        </ul>
      </li><!-- End operations Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Contest</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item">Operations</li>
          <li class="breadcrumb-item active">Contest</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="content">
      <!-- Add Contest Button -->
      <button class="btn btn-primary" onclick="addContest()">Add Contest</button>
    </div><!-- End Content -->

    <section class="section">
      <div class="row">
        <!-- Programming Contest -->
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
          
              <h5 class="card-title">Programming Contests</h5>
          
              {% for contest in contests %}
                <a href="{% url 'question' %}?info={{ contest.id }}" target="_blank" style="text-decoration: none; color: inherit;">
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ contest.name }}
                  </div>
                </a>
              {% endfor %}
          
            </div>
          </div>
        </div>
      </div>
    </section>
    
    

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script>
    function addContest() {
        // Opens a new tab with the "Add Contest" page
        window.open("{% url 'add_contest' %}", '_blank');
    }
  </script>

  <script src="{% static 'polls/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'polls/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'polls/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'polls/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'polls/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'polls/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'polls/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'polls/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'polls/js/main.js' %}"></script>

</body>

</html>